.sidebar {
    width: 100%;
    max-width: 260px;
    background: #232e42;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.sidebar .logo{
	background: #207bff;
	height: 80px;
	padding:5px 15px;
	width: 260px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.sidebar .logo img {
    max-width: 220px;
    display: block;
    margin: 6px auto;
}
.sidebar .navigation{
    margin-top: 80px;
    margin-bottom: 70px;
}
.sidebar .navigation > ul > li{
    position: relative;
    cursor: pointer;
}
.sidebar .navigation > ul > li > a {
    padding: 18px 15px;
    display: block;
    font-weight: 500;
    color:#9298a4;
    position: relative;
    text-transform: capitalize;
    text-decoration: none;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    white-space: nowrap;
    cursor: pointer;
}
.sidebar .navigation > ul > li > a:hover{
    color: #fff;
}
.sidebar .navigation > ul > li > a i {
    min-width: 34px;
    font-size: 22px;
    position: relative;
    left: 4px;
}
.sidebar .navigation > ul > li.active{
    background: #0e3659 !important;   
    cursor: pointer;
    a{
        color: #fff;
    }
    .sub_menu ul li.active a{
        color: #fff;
    }
}
.sidebar .navigation > ul > li.has_dropdown::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    right: 13px;
    top: 24px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.sidebar .navigation > ul > li.has_dropdown.active_nav::after{
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	transition: 0.2s;
    -webkit-transition: 0.2s;
}
.sidebar .navigation > ul > li.active_nav {
    background: #1b2331;
}
.sidebar .navigation > ul > li.active_nav a{
    color: #fff;
}

/*sub menu*/
.sidebar .navigation .sub_menu {
    padding: 15px;
    background: #2d3950;
    display: none;
}
.sidebar .navigation .sub_menu ul li a {
    display: block;
    color: #9bacca;
    padding: 9px 9px 9px 15px;
    text-decoration: none;
    line-height: 22px;    
    text-transform: capitalize;
    position: relative;
}
.sidebar .navigation .sub_menu ul li a::before{
	content: "-";
    position: absolute;
    left: 0;
}
.sidebar .navigation .sub_menu ul li.active_subnav a {
    color: #fff;
}
.sidebar::-webkit-scrollbar{width: 0px;}
.sidebar{scrollbar-width:none;}



.sidebar .navigation > ul > li.active_nav .sub_menu{
    display: block;
}
/*all sidebar effetcs on click and hover end*/
.bottom_link {
    position: fixed;
    bottom: 0;
    width: 260px;
    a {
        bottom: 0;
        background: #207bff;
        width: 100%;
        color: #fff;
        display: block;
        padding: 16px;
        font-size: 18px;
    }
}
.bottom_link i {
    font-size: 20px;
    margin-right: 8px;
}

.modal-footer.text-center {
    justify-content: center;
    .btn{
        min-width:75px;
    }
 }