<app-header-customer [sideBar]="sideBar"></app-header-customer>
<app-sidebar-customer #sideBar></app-sidebar-customer>
<!-- right area start -->
<section class="right_section">
  <!-- inside_content_area start-->
  <div class="content_area">
    <!-- <button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i></button> -->
    <!-- <button (click)="checkmodal()" class="inherticlass"><i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i></button> -->


    <!-- main row start-->
    <div class="col-sm-12">
      <div class="row">

        <!--table start -->
        <div class="col-sm-12 top_selling" >
          <div class="filter_and_title mb-3">
            <div class="row">
                <div class="col-md-3 filter"><i class="fa fa-filter"></i></div>
                <div class="col-md-3 center_title"></div>
                <div class="col-md-6 cta_right">
                  <div class="dropdown">
                    <!-- <button type="button" class="btn btn-primary dropdown-toggle mr-2" data-toggle="dropdown">Set Opportunity Status</button>
                    <div class="dropdown-menu">
                      <button class="dropdown-item" (click)="setOppurtunity('1')"><img src="assets/images/pros.png"> Prospecting</button>
                      <button class="dropdown-item" (click)="setOppurtunity('2')"><img src="assets/images/qulification.png"> Qualification</button>
                      <button class="dropdown-item" (click)="setOppurtunity('3')"><img src="assets/images/analysis.png"> Needs Analysis</button>
                      <button class="dropdown-item" (click)="setOppurtunity('4')"><img src="assets/images/value-proposition.png"> Value Proposition</button>
                      <button class="dropdown-item" (click)="setOppurtunity('5')"><img src="assets/images/dec-make.png"> Id. Decision Makers</button>
                      <button class="dropdown-item" (click)="setOppurtunity('6')"><img src="assets/images/per-analysis.png"> Perception Analysis </button>
                      <button class="dropdown-item" (click)="setOppurtunity('7')"><img src="assets/images/proposal.png"> Proposal/Price Quote</button>
                      <button class="dropdown-item" (click)="setOppurtunity('8')"><img src="assets/images/negotion.png"> Negotiation/Review</button>	
                      <button class="dropdown-item" (click)="setOppurtunity('9')"><img src="assets/images/closed-won.png"> Closed Won</button>
                      <button class="dropdown-item" (click)="setOppurtunity('10')"><img src="assets/images/lost.png"> Closed Lost</button>
                    </div> -->
                    <button class="btn btn-success" (click)="manageGridModal()">Manage Grid</button>
                  </div>
                </div>
            </div>
        </div>
        <div class="w-100 filter_box mb-3">
          <div class="inside pb-0">
              <div id="filterBox" class="row">
                  <div class="col-md-4 col-lg-3">
                      <div class="form-group">
                          <label>First name</label>
                          <input type="text" [(ngModel)]="filterObj.firstname" placeholder="Search First Name" data-inputmask="'mask': '99999[-9999]', 'greedy': 'false', 'placeholder': ''" class="form-control">
                      </div>
                  </div>
                  <div class="col-md-4 col-lg-3">
                      <div class="form-group">
                          <label>Last name</label>
                          <input type="text" [(ngModel)]="filterObj.lastname" placeholder="Search Last Name" data-inputmask="'mask': '99999[-9999]', 'greedy': 'false', 'placeholder': ''" class="form-control">
                      </div>
                  </div>
                  <div class="col-md-4 col-lg-3">
                      <div class="form-group">
                          <label>City</label>
                          <input type="text" [(ngModel)]="filterObj.city" placeholder="Search City" data-inputmask="'mask': '99999[-9999]', 'greedy': 'false', 'placeholder': ''" class="form-control">
                      </div>
                  </div> 
                  <div class="col-md-4 col-lg-3">
                      <div class="form-group">
                          <label>Address</label>
                          <input type="text" [(ngModel)]="filterObj.address" placeholder="Search Address" data-inputmask="'mask': '99999[-9999]', 'greedy': 'false', 'placeholder': ''" class="form-control">
                      </div>
                  </div> 
                  <div class="col-md-4 col-lg-3">
                      <div class="form-group">
                          <label>Number</label>
                          <input type="text" [(ngModel)]="filterObj.phone" placeholder="Search number" data-inputmask="'regex': '[a-zA-Z ]*'" class="form-control">
                      </div>
                  </div>
                  <div class="col-md-4 col-lg-3">
                      <div class="form-group">
                          <label>Email</label>
                          <input type="text" [(ngModel)]="filterObj.email" placeholder="Search Email" data-inputmask="'regex': '[a-zA-Z ]*'" class="form-control">
                      </div>
                  </div>
                  <div class="col-md-4 col-lg-3">
                      <div class="form-group">
                          <label>Zip</label>
                          <input type="text" [(ngModel)]="filterObj.zip" placeholder="Search Zip Code" data-inputmask="'regex': '[a-zA-Z ]*'" class="form-control">
                      </div>
                  </div>
                  <div class="col-md-4 col-lg-3">
                      <div class="form-group">
                          <label>State</label>
                          <input type="text" [(ngModel)]="filterObj.state" placeholder="Search State" data-inputmask="'regex': '[a-zA-Z ]*'" class="form-control">
                      </div>
                  </div>
                  <div class="col-md-4 col-lg-3"> 
                      <div class="form-group">
                          <label>&nbsp;</label>
                          <div style="width: 100%;"><button id="search" type="button" class="btn btn-success" (click)="searchFilter()">Search</button>&nbsp;<button id="reset" (click)="resetFilters()" type="button" class="btn btn-info">Reset</button></div>   
                      </div>
                  </div>
              </div>
          </div>  
      </div>  
        </div>

      </div>
    
      <div class="row">
        
        <!--table start -->
        <div class="col-sm-12 top_selling">

          <div class="inside custom_purchase_table">
              <div class="title">All Uploaded Records
              </div>

              <div class="mt-4 mb-4 custom_actions">
                <div class="row">
                  <div class="col-lg-4 col-md-6 offset-lg-2 action_boxes" style="opacity: 0.5;
                  pointer-events: none;">
                    <div class="title_action">
                      <p>Fetch Emails and Numbers</p>
                      <!-- (click)="addSMSEmailToProspects()"  -->
                      <button class="btn btn-secondary proceed_prospects btn-success inherticlass" style="pointer-events: initial;"
                      [disabled]="!this.rows_selected.length || (!checkedText && !checkedEmail && !checkedPost) || proceedLoader"><span *ngIf="proceedLoader" 
                      class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Proceed</button>
                    </div>
                    <div class="inside_data fetch_records">
                      <label class="by_email" for="byemail">
                        <input type="checkbox" [(ngModel)]="checkedEmail" name="a" id="byemail" class="newlabl">
                        <p><img src="assets/images/by_email.png" id="byemail"><span>Emails</span></p>
                      </label>
                      <label class="by_text" for="byphone">
                        <input type="checkbox" name="a" [(ngModel)]="checkedText" id="byphone" class="newlabl">
                        <img src="assets/images/cellphone.svg"><span>Phone Numbers</span>
                      </label>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 action_boxes">
                    <div class="title_action">
                      <p>Marketing </p>
                    </div>
                    <div class="inside_data fetch_records">
                      <label (click)="sendMarketing(1)" class="by_post">
                        <!-- (click)="sendMarketing(1)" -->
                        <img src="assets/images/by_email.png"><span>Email</span>
                      </label>
                      <label (click)="sendMarketing(2)" class="by_post" >
                        <!-- (click)="sendMarketing(2)" -->
                        <img src="assets/images/cellphone.svg"><span>SMS</span>
                      </label>
                      <label (click)="sendMarketing(3)" class="by_post" for="bypost">
                        <!-- (click)="sendMarketing(3)" -->
                        <img src="assets/images/by_postcard.png"><span>Postcard</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="btnRow d-flex justify-content-between bottom_margin_cta">
                <button class="buttons-excel mr-3" (click)="checkAllProspect()" type="button"><span><i class="fa fa-check" aria-hidden="true"></i>{{ checkText }}</span></button>
                <button  (click)="exportAsXLSX()" class="buttons-excel" type="button"><span><i class="fa fa-file-excel-o" aria-hidden="true"></i>Export to Excel</span></button>
                <!-- -->
              </div>
              <input type="hidden" id="hiddenBtn">
              <table datatable  [dtOptions]="dtOptions" id="prospectTbl" class="row-border hover "></table>
          </div>

        </div>
      </div>
    </div>
  </div>



  <div class="modal" id="confirmModal">
    <div class="modal-dialog modal-md">
      <div class="modal-content ">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Confirm</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <p>Are you sure to remove this property from Purchased Records? If yes, you can recover this from Trash
            anytime :)</p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal">No</button>
          <!-- (click)="callTrash()" -->
          <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>

      </div>
    </div>
  </div>

  
<div class="modal" id="myModalSave">
  <div class="modal-dialog modal-md">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="closePopUP">×</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body market_popup">
    	<h2>Add email &amp; Phone first to your prospects to start Marketing</h2>
    	<button class="btn btn-success" data-toggle="modal"
      data-target="#myModalPayment">Add Email &amp; Phone</button>
      </div>

    </div>
  </div>
</div>
</section>

<!--================================== The Modal payment===============================================-->
<div class="modal" id="myModalPayment">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
	  <div class="modal-body">
        <div class="row">
        	<div class="col-sm-4">
        		<div class="form-group">
        			<label>Total Records</label>
        			<p><b>20</b></p>
        		</div>
        	</div>
        	<div class="col-sm-4">
        		<div class="form-group">
        			<label>Total Amount</label>
        			<p><b>$40.00</b></p>
        		</div>
        	</div>
        	<div class="col-sm-4">
        		<div class="form-group">
        			<label class="w-100"><div class="d-flex justify-content-between">Wallet Amount</div></label>
        			<p><b>$499.00</b></p>
        		</div>
        	</div>
        	<div class="text-center mt-3">
        		<img src="assets/images/cellphone.svg" style="max-width: 100px;" width="100">
        		<p class="h5 mt-3">Sit Back Relax! We are searching your phone numbers records. Funds will automatically deduct from your wallet.</p>
        	</div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!-- (click)="addSMSEmailToProspects2()" -->
      	<button type="button" class="btn btn-success">Continue To Payment</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!--================================== The Modal payment end===============================================-->

<!-- Manage grid  -->
<div class="modal" id="manageGridHot">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
  
		  <!-- Modal Header -->
		  <div class="modal-header">
			  <h4 class="modal-title">Manage Grid</h4>
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  </div>
		  <form #manageGridForm="ngForm" (ngSubmit)="manageGridSubmit(manageGridForm.value)">
			<!-- Modal body -->
			<div class="modal-body">
			  <div class="row">
					<div class="col-sm-12">
						<div class="form-group">   
							<label>No. of columns</label>
							<select class="form-control"  name="gridSelect" id="gridSelect" [(ngModel)]="manageGrid.gridSelect" (ngModelChange)="onGridSelectChange($event)">
								<option value="0">1</option>
								<option value="1">2</option>
								<option value="2">3</option>
								<option value="3">4</option>
								<option hidden value="4">4</option>
							   </select>
						</div>
					</div>
		            <div class="col-sm-4">
                        <div class="form-group">
                            <label>Field 1</label>
                            <select [disabled]="manageGrid.gridsStatus[0]" class="form-control" name="col0" [(ngModel)]="manageGrid.gridCol[0]">
                                <option *ngFor="let col of manageGrid.gridColName;let i = index"  value="{{i}}">{{col}}</option>                               
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Field 2</label>
                            <select [disabled]="manageGrid.gridsStatus[1]" class="form-control" name="col1" [(ngModel)]="manageGrid.gridCol[1]">
                                <option *ngFor="let col of manageGrid.gridColName;let i = index"  value="{{i}}">{{col}}</option> 
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Field 3</label>
                            <select [disabled]="manageGrid.gridsStatus[2]" class="form-control" name="col2" [(ngModel)]="manageGrid.gridCol[2]">
                                <option *ngFor="let col of manageGrid.gridColName;let i = index"  value="{{i}}">{{col}}</option> 
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Field 4</label>
                            <select [disabled]="manageGrid.gridsStatus[3]" class="form-control" name="col3" [(ngModel)]="manageGrid.gridCol[3]">
                                <option *ngFor="let col of manageGrid.gridColName;let i = index"  value="{{i}}">{{col}}</option> 
                            </select>
                        </div>
					</div>
		
             
		</div>
			</div>  
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="submit" class="btn btn-success">Save</button>
				<button (click)="manageGridReset()" type="button" class="btn btn-info">Reset</button>
				<button id="initGrid" (click)="manageGridInit()" type="button"></button>
			</div>
		</form>
	  </div>
	</div>
  </div>


  <!--successful-modal-->
  <div class="modal" id="wallet_success">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
  
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <div class="modal-body">
          <div class="row successful_payment">
            <div class="text-center chknew"><img src="assets/images/check.png"></div>
            <h3>Your payment is successfull. please check the records in Queue.</h3>
            <div class="text-center">
              <button type="button" class="btn btn-success" id="genieffect">OK</button>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
<!--successful-modal-end-->




<!-- pending records modal -->
<div class="modal" id="pending_data">
  <div class="modal-dialog modal-md">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="row successful_payment">
        	<div class="text-center"><img src="assets/images/by_email.png" class="w-auto"></div>
        	<h3>You have selected 1 record to fetch email. Kindly click on continue button to proceed.</h3>
        	<div class="col-sm-12">
        		<input type="checkbox"> <span class="text-danger ml-2">Add 19 more records whose emails are not avaiable in our records.</span> 
        	</div>
        	<div class="col-sm-12"><a href="javascript:void()" class="btn btn-success woulds">Continue</a></div>
        </div>
      </div>

    </div>
  </div>
</div> 
<!-- pending records modal end -->

