<app-header-customer [sideBar]="sideBar"></app-header-customer>
<app-sidebar-customer #sideBar></app-sidebar-customer>



<!-- main div start -->
<div class="main_area">

	<!-- right area start -->
	<section class="right_section">
		<!-- inside_content_area start-->
			<div class="content_area">


					<!-- main row start-->
					<div class="col-sm-12">
						<div class="row">

							
                             <!--Parent div start -->
							    <div class="col-sm-12 top_selling">
									<div class="inside about_customer">
                                        <div class="title">Activities/Challenges <a href="#"  data-toggle="modal" data-target="#myModal"><i class="fa fa-info-circle ml-3" data-toggle="tooltip" data-placement="top" title="Terms & Condition"></i></a></div>    
                                        <hr>
                                       <div class="custom_title mb-3"><h2>Level 1</h2></div>
                                       <div class="listings mb-5">
                                           <ul>
                                               <li class="success">
                                                   <span><img src="assets/images/user.png">  <h3>Upload a Profile Picture</h3></span>
                                                   <label class="badge badge-success">50 Points</label>
                                                   <p><i class="fa fa-check"></i> success</p>
                                               </li>
                                               <li class="success">
                                                   <span><img src="assets/images/document.svg">  <h3>Add Your Profile Description</h3></span>
                                                   <label class="badge badge-success">50 Points</label>
                                                   <p><i class="fa fa-check"></i> success</p>
                                               </li>
                                               <li class="success">
                                                   <span><img src="assets/images/mail.svg">  <h3>Verify Your Email Address </h3></span>
                                                   <label class="badge badge-success">50 Points</label>
                                                   <p><i class="fa fa-check"></i> success</p>
                                               </li>
                                                <li class="pending">
                                                   <span><img src="assets/images/smartphone.svg">  <h3>Verify Your Phone Number  </h3></span>
                                                   <label class="badge badge-success">50 Points</label>
                                                   <p><i class="fa fa-remove"></i> pending</p>
                                               </li>
                                               <li class="pending">
                                                   <span><img src="assets/images/address.svg">  <h3>Add Your Address  </h3></span>
                                                   <label class="badge badge-success">50 Points</label>
                                                   <p><i class="fa fa-remove"></i> pending</p>
                                               </li>
                                           </ul>
                                       </div>


                                       <div class="custom_title mb-3"><h2>Level 2</h2><span>500 Points</span></div>
                                       <div class="listings mb-5">
                                           <ul>
                                               <li class="success">
                                                   <span><img src="assets/images/real-estate.svg">  <h3>Explore property in your city</h3></span>
                                                   <p><i class="fa fa-check"></i> success</p>
                                               </li>
                                               <li class="pending">
                                                   <span><img src="assets/images/company.svg">  <h3>Search for specific property within the city</h3></span>
                                                   <p><i class="fa fa-remove"></i> Pending</p>
                                               </li>
                                                <li class="pending">
                                                   <span><img src="assets/images/heart.svg">  <h3>Mark atleast 1 property as favourite</h3></span>
                                                   <p><i class="fa fa-remove"></i> Pending</p>
                                               </li>
                                                <li class="pending">
                                                   <span><img src="assets/images/share.svg">  <h3>Share property on social media</h3></span>
                                                   <p><i class="fa fa-remove"></i> Pending</p>
                                               </li>
                                               <li class="pending">
                                                   <span><img src="assets/images/customer.svg">  <h3>Write testimonial to Atleast  1 property</h3></span>
                                                   <p><i class="fa fa-remove"></i> Pending</p>
                                               </li>
                                           </ul>
                                       </div>

                                       <div class="custom_title active mb-3"><h2>Level 3 </h2><span>850 Points</span></div>
                                       <div class="listings">
                                           <ul>
                                               <li class="success">
                                                   <span><img src="assets/images/real-estate-property.svg">  <h3>User must Explore properties from 4 different categories  </h3></span>
                                                   <label class="badge badge-success">200 Points</label>
                                                   <p><i class="fa fa-check"></i> success</p>
                                               </li>
                                               <li class="success">
                                                   <span><img src="assets/images/search.svg">  <h3>User must have used advance search feature of the app  </h3></span>
                                                   <label class="badge badge-success">250 Points</label>
                                                   <p><i class="fa fa-check"></i> success</p>
                                               </li>
                                                <li class="success">
                                                   <span><img src="assets/images/review.svg">  <h3>User must have submitted testimonial to 5 different properties he/she has contacted with  </h3></span>
                                                   <label class="badge badge-success">400 Points</label>
                                                   <p><i class="fa fa-check"></i> success</p>
                                               </li>
                                           </ul>
                                       </div>
									              </div>
								            </div>
                            <!--Parent div end-->


                             <!--Parent div start -->
                                <div class="col-sm-12 top_selling">
                                    <div class="inside about_customer">
                                        <div class="title">Earn Power search badge Only For:</div>    
                                        <hr>
                                       <div class="custom_title mb-3"><h2>Paid Members</h2></div>
                                       <div class="listings">
                                           <ul>
                                               <li class="pending">
                                                   <span><img src="assets/images/team.svg">  <h3>User must have invited 5 users to app</h3></span>
                                                   <p><i class="fa fa-remove"></i> Pending</p>
                                               </li>
                                                <li class="pending">
                                                   <span><img src="assets/images/money.svg">  <h3>User must have must have <label class="badge badge-success">3000 Points</label> in vault</h3></span>
                                                   <p><i class="fa fa-remove"></i> Pending</p>
                                               </li>
                                           </ul>
                                       </div>
                                    </div>
                                </div>
                            <!--Parent div end-->


                            <!--Parent div start -->
                                <div class="col-sm-12 top_selling">
                                    <div class="inside about_customer">
                                       <div class="custom_title mb-3"><h2>Gifts</h2></div>
                                       <div class="listings">
                                           <ul>
                                               <li class="pending">
                                                   <span><img src="assets/images/discount.svg">  <h3>Earn Power search badge and get 30% off on deal</h3></span>
                                                   <p><i class="fa fa-remove"></i> Pending</p>
                                               </li>
                                               <li class="pending">
                                                   <span><img src="assets/images/discount.svg">  <h3>Earn Ace badge and get 10% off on deal</h3></span>
                                                   <p><i class="fa fa-remove"></i> Pending</p>
                                               </li>
                                               <li class="pending">
                                                   <span><img src="assets/images/discount.svg">  <h3>Earn Explorer badge and get 5% off on Membership discount</h3></span>
                                                   <p><i class="fa fa-remove"></i> Pending</p>
                                               </li>
                                           </ul>
                                       </div>
                                    </div>
                                </div>
                            <!--Parent div end-->
                            
							
						</div>
					</div>
					<!-- main row end-->

			</div>
			<!-- inside_content_area end-->

	</section>
	<!-- right area end -->
</div>
<!-- main div end -->




<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Terms & Condition</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="content mt-0">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <br>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>




  