<app-header-customer [sideBar]="sideBar"></app-header-customer>
<app-sidebar-customer #sideBar></app-sidebar-customer>

<section class="right_section container-fluid  advance_search_form" [class.load]="load!=1">
	<div class="container content_area"  [class.blurnew]="load!=1">
		<div class="row">
			
			<!-- left_side start-->
			<div class="col-sm-8 left_area advance_search_page">
				
				<!-- <div class="col-sm-12 main_title mb-4"><h4>Advance Search</h4></div> -->
					<form  [formGroup]="searchForm" (ngSubmit)="submitForm()">
						<div class="row">

							<!-- single box start -->
							<div class="col-sm-12 single_box">
								<div class="bg-white box_section">
									<div class="inner_title">State & County Bundle</div>
									<div class="inner_data">

										<!-- <ng-select [multiple]="true" [(ngModel)]="selectedCars">
											<ng-option *ngFor="let car of cars" [value]="car.id" [disabled]="car.disabled">{{car.name}}</ng-option>
											<ng-option [value]="'custom'">Custom</ng-option>
										</ng-select> -->
										
										<div class="row mb-3">
											<div class="col-sm-3">
												<label>State</label></div>
											<div class="col-sm-9">												
												<select formControlName="state" (change)="changeState($event)" class="form-control">
													<option value="null" disabled="disabled">--Select State--</option>
													<option *ngFor="let st of state"  value="{{st.state_id}}">{{st.state_name}}</option>
												</select>
											</div>
										</div>

										<div class="row mb-3">
											<div class="col-sm-3">
												<label>County</label></div>
											<div class="col-sm-4">
												<select formControlName="countySelect" (change)="changeCountySelect($event.target.value)" class="form-control">
													<option value="is">Is</option>
													<option value="is not">Is Not</option>
												</select>
											</div>
											<div class="col-sm-5"><i *ngIf="countyLoading" class="fa fa-spinner fa-spin"></i>
												<ng-select formControlName="county" [multiple]="true" [(ngModel)]="selectedCounty" (change)="changeCounty($event)" data-placeholder="Add More">
													<ng-option *ngFor="let co of county" value="{{co.county_id}}_{{co.county_name}}">{{co.county_name}}</ng-option>
												</ng-select>
												<!-- <select class="form-control select2field" formControlName="county" (change)="changeCounty($event.target.value)"  data-placeholder="Add More" id="multipleSelectExample" multiple="multiple">
													<option *ngFor="let co of county" [attr.selected]="co.selected" selected="{{co.selected}}" value="{{co.county_id}}">{{co.county_name}}</option>
												</select> -->
											</div>
										</div>

										<div class="row mb-3">
											<div class="col-sm-3">
												<label>City</label></div>
											<div class="col-sm-4">
												<select formControlName="citySelect" (change)="changeCitySelect($event.target.value)" class="form-control">
													<option value="is">Is</option>
													<option value="is not">Is Not</option>
												</select>
											</div>
											<div class="col-sm-5"><i *ngIf="cityLoading" class="fa fa-spinner fa-spin"></i>
												<ng-select formControlName="city" [multiple]="true" [(ngModel)]="selectedCity" (change)="changeCity($event)" data-placeholder="Add More">
													<ng-option *ngFor="let cty of city" value="{{cty.ID}}_{{cty.CITY}}">{{cty.CITY}}</ng-option>
												</ng-select>
												<!-- <select class="form-control select2field" formControlName="city" (change)="changeCity($event.target.value)"  data-placeholder="Add More" id="multipleSelectExample3" multiple="multiple">
													<option *ngFor="let cty of city"  value="{{cty.ID}}">{{cty.CITY}}</option>
												</select> -->
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-sm-3">
												<label>Zip</label></div>
											<div class="col-sm-4">
												<select formControlName="zipSelect" (change)="changeZipSelect($event.target.value)" class="form-control">
													<option value="is">Is</option>
													<option value="is not">Is Not</option>
												</select>
											</div>
											<div class="col-sm-5">												
												<input id="zipcode" type="text" data-inputmask="'mask': '99999[-9999]', 'greedy': 'false', 'placeholder': ''" (change)="changeZip($event.target.value)" class="form-control" formControlName="zipcode" placeholder="Zip">
												<ng-container *ngIf="zipError && searchForm.get('zipcode').errors">
													<small *ngIf="searchForm.get('zipcode').errors.pattern" class="error-text">Zip Code is not valid.</small>
												</ng-container>
											</div>
										</div>
										<!-- <div class="row mb-3">
											<div class="col-sm-3">
												<label>Subdivision</label></div>
											<div class="col-sm-9">
												<select formControlName="state" (change)="changeSubdivision($event)" class="form-control">
													<option *ngFor="let st of Subdivision"  value="{{st.subdivision_id}}">{{st.subdivision_name}}</option>
												</select>
											</div>
										</div> -->
									</div>
								</div>
							</div>
							<!-- single box end -->

							<!-- single box start -->
							<div class="col-sm-12 single_box">
								
								<div class="bg-white box_section">
									<div class="inner_title">Characteristics</div>
									<div class="inner_data">
										<div class="row mb-12">
											<div class="col-sm-3">
												<label>Land Use</label></div>
											<div class="col-sm-9">
												<ng-select formControlName="land" [multiple]="true" [(ngModel)]="selectedLand" (change)="changeLand($event)" data-placeholder="Residential">
													<ng-option value="163_SFR">SFR</ng-option>
													<ng-option value="133_Multi-family">Multi-family</ng-option>
													<ng-option value="112_Condominium">Condominium</ng-option>
													<ng-option value="102_Townhouse">Townhouse</ng-option>
												</ng-select>
												<!-- <select class="form-control select2field" formControlName="land" data-placeholder="Residential" id="multipleSelectExample2" multiple="multiple">
													<optgroup label="Residential">
														<option value="163">SFR</option>
														<option value="133">Multi-family</option>
														<option value="113">Condominium</option>
														<option value="102">Townhouse</option>
													</optgroup>													
												</select> -->
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- single box end -->

							<!-- single box start -->
							<div class="col-sm-12 single_box">
								
								<div class="bg-white box_section">
									<div class="inner_title">Owner</div>
									<div class="inner_data">
										<div class="row mb-3">
											<div class="col-sm-3">
												<label>Exemption/Occupancy</label>
											</div>
											<div class="col-sm-4">
												<ng-select formControlName="exemption" [multiple]="true" [(ngModel)]="selectedExemption" (change)="changeExemption($event)" data-placeholder="Exemption">
													<ng-option value="3_Homestead">Homestead</ng-option>
													<ng-option value="2_Disabled">Disabled</ng-option>
													<ng-option value="11_Veteran">Veteran</ng-option>
													<ng-option value="9_Senior Citizen">Senior Citizen</ng-option>
												</ng-select>
											</div>

											<div class="col-sm-5">
												<ng-select formControlName="occupancy" [multiple]="true" [(ngModel)]="selectedOccupancy" (change)="changeOccupancy($event)" data-placeholder="Occupancy">
													<ng-option  value="O_Owner">Owner</ng-option>
													<ng-option  value="A_Absentee">Absentee</ng-option>
												</ng-select>												
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- single box end -->

							<!-- single box start -->
							<div class="col-sm-12 single_box">
								
								<div class="bg-white box_section">
									<div class="inner_title">Sale Information</div>
									<div class="inner_data">
										<div class="row mb-3">
											<div class="col-sm-3">
												<label>Last Sale Recording Date</label>
											</div>
											<div class="col-sm-3">
												<select formControlName="saleSelect" (change)="changeSale($event.target.value)" class="form-control">
													<option value="is between">Is Between</option>
													<option value="is">Is</option>
												</select>
											</div>

											<div [class]="selection.saleSelect=='is'? 'col-sm-6': 'col-sm-3'">
												<div class="input-group">
													<input  class="form-control" (ngModelChange)="saleFromDate($event)" [minDate]="minDate" [maxDate]="maxDate" placeholder="MM-DD-YYYY" formControlName="salesFrom" name="salesFrom"  ngbDatepicker #salesFrom="ngbDatepicker">
													<div class="input-group-append">
													<button class="btn btn-default calendar" (click)="salesFrom.toggle()" type="button"><i class="fa fa-calendar"></i></button>
													</div>
												</div>
											</div>
											<div *ngIf="selection.saleSelect!='is'" class="col-sm-3">
												<div class="input-group">
													<input  class="form-control" (ngModelChange)="saleToDate($event)" [minDate]="minDate" [maxDate]="maxDate" placeholder="MM-DD-YYYY" formControlName="salesTo" name="salesTo"  ngbDatepicker #salesTo="ngbDatepicker">
													<div class="input-group-append">
													<button class="btn btn-default calendar" (click)="salesTo.toggle()" type="button"><i class="fa fa-calendar"></i></button>
													</div>
												</div>
												<small *ngIf="saleDateError" class="error-text">Invalid Date</small>
											</div>                                    
										</div>

									</div>
								</div>
							</div>
							<!-- single box end -->


							<!-- single box start -->
							<div class="col-sm-12 single_box">
								
								<div class="bg-white box_section">
								<div class="inner_title">Open Lien Information</div>
								<div class="inner_data">
									<div class="form-group">
										<div class="row mb-12">
											<div class="col-sm-3">
												<label>Mortgage Amount</label>
											</div>
												<div class="col-sm-3">
													<select formControlName="mortgageAmountSelect" (change)="changeMortageStatus($event.target.value)" class="form-control">
														<option value="is between">Is Between</option>
														<option value="is">Is</option>
													</select>
												</div>
												
												<div [class]="selection.mortgageAmountSelect=='is'? 'col-sm-6': 'col-sm-3'"><input (keypress)="numberOnly($event)"  type="number" (change)="changeMortgageFrom($event.target.value)" class="form-control money" formControlName="mortgageAmountFrom" placeholder="Amount"></div>
												<div  *ngIf="selection.mortgageAmountSelect!='is'" class="col-sm-3"><input (keypress)="numberOnly($event)" type="number" (change)="changeMortgageTo($event.target.value)" class="form-control money" formControlName="mortgageAmountTo" placeholder="Amount"><small *ngIf="openAmountError" class="error-text">Invalid Amount</small></div>
											
										</div>
									</div>


									<div class="row mb-3">
											<div class="col-sm-3">
												<label>Mortgage Recording Date</label>
											</div>
											<div class="col-sm-3">
												<select formControlName="mortgageRecordingDate" (change)="changeMortageDate($event.target.value)" class="form-control">
													<option value="is between">Is Between</option>
													<option value="is">Is</option>
												</select>
											</div>
											<div [class]="selection.mortgageRecordingDate=='is'? 'col-sm-6': 'col-sm-3'">
												<div class="input-group">
													<input  class="form-control" placeholder="MM-DD-YYYY" [minDate]="minDate" [maxDate]="maxDate" (click)="MortgageFrom.open()" (ngModelChange)="mortgageDateFrom($event)"  formControlName="mortgageRecordingFrom" name="mortgageRecordingFrom"  ngbDatepicker #MortgageFrom="ngbDatepicker">
													<div class="input-group-append">
													<button class="btn btn-default calendar" (click)="MortgageFrom.toggle()" type="button"><i class="fa fa-calendar"></i></button>
													</div>
												</div>
											</div>
											<div *ngIf="selection.mortgageRecordingDate!='is'" class="col-sm-3">
												<div class="input-group">
													<input  class="form-control" placeholder="MM-DD-YYYY" [minDate]="minDate" [maxDate]="maxDate" (click)="MortgageTo.open()" (ngModelChange)="mortgageDateTo($event)" formControlName="mortgageRecordingTo" name="mortgageRecordingTo" ngbDatepicker #MortgageTo="ngbDatepicker">
													<div class="input-group-append">
													<button class="btn btn-default calendar" (click)="MortgageTo.toggle()" type="button"><i class="fa fa-calendar"></i></button>
													</div>
												</div>
												<small class="error-text" *ngIf="openDateError">Invalid Date</small>
											</div>
										

									</div> 

									<div class="row mb-3">
										<div class="col-sm-3">
											<label>Mortgage Type</label>
										</div>
										<div class="col-sm-9">
											<ng-select formControlName="mortgageType" [multiple]="true" [(ngModel)]="selectedMortgageType" (change)="changeMortgageType($event)" data-placeholder="Add More">
												<ng-option value="CNV_Conventional">Conventional</ng-option>
												<ng-option value="FHA_FHA">FHA</ng-option>
												<ng-option value="CON_Construction">Construction</ng-option>
												<ng-option value="PP_Private Party">Private Party</ng-option>
												<ng-option value="SBA_SBA">SBA</ng-option>
												<ng-option value="VA_VA">VA</ng-option>
											</ng-select>
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-sm-3">
											<label>Interest Rate Between</label>
										</div>
										<div class="col-sm-3">
											<select formControlName="mortgageInterestStatus" (change)="mortgageInterest($event.target.value)" class="form-control">
												<option value="is between">Is Between</option>
												<option value="is">Is</option>
											</select>
										</div>
										<div [class]="selection.mortgageInterestStatus=='is'? 'col-sm-6': 'col-sm-3'"><input type="number" (change)="changeMortgageInterestFrom($event.target.value)" formControlName="mortgageInterestFrom" class="form-control" placeholder="Percent"></div>
										<div  *ngIf="selection.mortgageInterestStatus!='is'" class="col-sm-3"><input type="number" (change)="changeMortgageInterestTo($event.target.value)" formControlName="mortgageInterestTo" class="form-control" placeholder="Percent"><small class="error-text" *ngIf="openInterestError">Invalid Format</small></div>
									</div>

									<div class="row mb-3">
										<div class="col-sm-3">
											<label>Max Open Lien</label>
										</div>
										<div class="col-sm-9">
											<ng-select formControlName="maxOpenLien" [multiple]="true" [(ngModel)]="selectedMaxOpenLien" (change)="changeMortgageMax($event)" data-placeholder="Add More">
												<ng-option value="Free and Clear_Free and Clear">Free and Clear</ng-option>
												<ng-option value="1_1">1</ng-option>
												<ng-option value="2_2">2</ng-option>
												<ng-option value="3_3">3</ng-option>
												<ng-option value="4_4">4</ng-option>
											</ng-select>
										</div>
									</div>

								</div>
								</div>
							</div>
							<!-- single box end -->


							<!-- single box start -->
							<div class="col-sm-12 single_box">
								
								<div class="bg-white box_section">
									<div class="inner_title">Equity</div>
									<div class="inner_data">
										<div class="row mb-12">
											<div class="col-sm-3">
												<label>Percentage</label>
											</div>
											<div class="col-sm-3">
												<select formControlName="equityStatus" (change)="equityChange($event.target.value)" class="form-control">
													<option value="is between">Is Between</option>
													<option value="is">Is</option>
												</select>
											</div>
											<div [class]="selection.equityStatus=='is'? 'col-sm-6': 'col-sm-3'"><input type="number" (change)="equityChangeFrom($event.target.value)" formControlName="equityFrom" class="form-control" placeholder="Percent"></div>
											<div *ngIf="selection.equityStatus!='is'" class="col-sm-3"><input type="number" (change)="equityChangeTo($event.target.value)" formControlName="equityTo" class="form-control" placeholder="Percent"><small class="error-text" *ngIf="equityError">Invalid Format</small></div>
										</div>
									</div>
								</div>
							</div>
							<!-- single box end -->


							<!-- single box start -->
							<div class="col-sm-12 single_box">
								
								<div class="bg-white box_section">
									<div class="inner_title">Listing Information</div>
									<div class="inner_data">
										<div class="row mb-3">
											<div class="col-sm-3">
												<label>Listing Status</label>
											</div>
											<div class="col-sm-9">
												<ng-select formControlName="listingStatus" [multiple]="true" [(ngModel)]="selectedListingStatus" (change)="changeListingStatus($event)" data-placeholder="Add More">
													<ng-option value="1_Active">Active</ng-option>
													<ng-option value="2_Pending">Pending</ng-option>
												</ng-select>
											</div>
										</div>
										<div class="row mb-12">
											<div class="col-sm-3">
												<label>Listing Price</label>
											</div>
											<div class="col-sm-3">
												<select formControlName="listingPriceStatus" (change)="listingPriceChange($event.target.value)" class="form-control">
													<option value="is between">Is Between</option>
													<option value="is">Is</option>
												</select>
											</div>
											<div [class]="selection.listingPriceStatus=='is'? 'col-sm-6': 'col-sm-3'"><input type="number" (change)="listingPriceChangeFrom($event.target.value)" formControlName="listingPriceFrom" class="form-control money" placeholder="Amount"></div>
											<div *ngIf="selection.listingPriceStatus!='is'"  class="col-sm-3"><input type="number" (change)="listingPriceChangeTo($event.target.value)" formControlName="listingPriceTo" class="form-control money" placeholder="Amount"><small class="error-text" *ngIf="listingError">Invalid Format</small></div>
										</div>
									</div>
								</div>
							</div>
							<!-- single box end -->



							<!-- single box start -->
							<div class="col-sm-12 single_box">
								
								<div class="bg-white box_section">
									<div class="inner_title">Foreclosure Information</div>
									<div class="inner_data">
										<div class="row mb-3">
											<div class="col-sm-3">
												<label>Status</label>
											</div>
											<div class="col-sm-9">
												<select (change)="forclosureStatusChange($event)" formControlName="forclosureStatus" class="form-control">
													<option value="null">Select Status</option>
													<option value="1">Default</option>
													<option value="2">Auction</option>
													<option value="3">REO</option>
													<option value="4">REO Sale</option>
													<option value="5">Short Sale</option>
												</select>
											</div>
										</div>

										<div class="row mb-3">
											<div class="col-sm-3">
												<label>Foreclosure Event Date</label>
											</div>
											<div class="col-sm-3">
												<select formControlName="forclosureDateStatus" (change)="forclosureDateChange($event.target.value)" class="form-control">
													<option value="is between">Is Between</option>
													<option value="is">Is</option>
												</select>
											</div>
											<div [class]="selection.forclosureDateStatus=='is'? 'col-sm-6': 'col-sm-3'">
												<div class="input-group">
													<input  class="form-control" formControlName="forclosureDateFrom" [minDate]="minDate" [maxDate]="maxDate" (ngModelChange)="forclosureDateChangeFrom($event)" placeholder="MM-DD-YYYY" name="forclosureDateFrom"  ngbDatepicker #forclosureDateFrom="ngbDatepicker">
													<div class="input-group-append">
													<button class="btn btn-default calendar" (click)="forclosureDateFrom.toggle()" type="button"><i class="fa fa-calendar"></i></button>
													</div>
												</div>
												
											</div>
											<div *ngIf="selection.forclosureDateStatus!='is'" class="col-sm-3">
												<div class="input-group">
													<input  class="form-control"  formControlName="forclosureDateTo" [minDate]="minDate" [maxDate]="maxDate" (ngModelChange)="forclosureDateChangeTo($event)" placeholder="MM-DD-YYYY" name="forclosureDateTo"   ngbDatepicker #forclosureDateTo="ngbDatepicker">
													<div class="input-group-append">
													<button class="btn btn-default calendar" (click)="forclosureDateTo.toggle()" type="button"><i class="fa fa-calendar"></i></button>
													</div>
												</div>
												<small class="error-text" *ngIf="forDateError">Invalid Date</small>
											</div>
											
										</div>
										
										<div class="row mb-3">
											<div class="col-sm-3">
												<label>Foreclosure Amount</label>
											</div>
											<div class="col-sm-3">
												<select formControlName="forclosureAmountStatus" (change)="forclosureAmountChange($event.target.value)" class="form-control">
													<option value="is between">Is Between</option>
													<option value="is">Is</option>
												</select>
											</div>
											<div  [class]="selection.forclosureAmountStatus=='is'? 'col-sm-6': 'col-sm-3'"><input type="number"  (change)="forclosureAmountChangeFrom($event.target.value)" formControlName="forclosureAmountFrom" class="form-control money" placeholder="Amount"></div>
											<div *ngIf="selection.forclosureAmountStatus!='is'" class="col-sm-3"><input type="number" (change)="forclosureAmountChangeTo($event.target.value)" formControlName="forclosureAmountTo" class="form-control money" placeholder="Amount"><small class="error-text" *ngIf="forAmountError">Invalid Format</small></div>
										</div>
									</div>
								</div>
							</div>
							<!-- single box end -->
						</div>
					</form>

				
			</div>
			<!-- left_side end-->




			<!-- right_side start-->
			<div class="col-sm-4 right_area">
				<!-- <div class="col-sm-12 main_title  mb-4 right_title"><h4>Selected Search</h4></div> -->
				
				<div class="col-sm-12 similar_box">
					<div class="col-md-12 text-center count">
						<div *ngIf="submit" class="lds-facebook"><div></div><div></div><div></div></div>
						
							<h2 *ngIf="!submit" >{{SearchCount.count | number}}</h2><p  *ngIf="!submit"> RESULTS</p>
						
					</div>
					<div class="col-md-12  actions">
						<div>
							<button (click)="submitForm()" class="btn btn-primary">Get Count</button>
						</div>
						<div><form [formGroup]="checkForm" action="">							
							<!-- <div class="checkbox-form">
								<input type="checkbox" formControlName="saved" id="checkBox" name="checkBox">
								<label for="checkBox"> Save Search</label>
							</div> -->
							<!-- <button type="button" class="btn btn-primary" [disabled]="SearchCount.count==0 || savedsearchFlag || !existingMember" (click)="open(saveSearchModal)">Save Search</button> -->
						</form><button (click)="getResult($event)" data-toggle="modal" data-target="#myConfirmModal" [disabled]="SearchCount.count==0 || SearchCount.count>1000" class="btn btn-primary">View File</button></div>
						
					</div>
					<div class="col-md-12 text-center" style="padding:5px;">
						<small >You can only see 1000 or fewer results. </small>
						<!-- <div>
							<button (click)="getResult()" data-toggle="modal" data-target="#myConfirmModal" [disabled]="SearchCount.count==0" class="btn btn-primary">View File</button>
						</div> -->	<br>					
					</div>	
				</div>

				<!-- similar box start -->				
				<div *ngIf="(selection.state !=null) || selection.zipcode" class="col-sm-12 similar_box">
					<div class="title">State & County Bundle</div>
					<div *ngIf="selection.state" class="data_fields">
						<div class="listings_title">State</div>
						<div class="listings">
							<span>{{selection.state.text}}<i (click)="remove('state', selection.state, 'singleSelect', '')" class="fa fa-close"></i></span>
						</div>
					</div>
					<div *ngIf="selection.county && selection.county.length>0" class="data_fields">
						<div class="listings_title">County</div>
						<div class="listings">						
								<span *ngFor="let county of selection.county" [class]="selection.countySelect=='is not'? 'faded' : ''"> <var *ngIf="selection.countySelect=='is not'">Not</var> {{county.text}}<i (click)="remove('county', county, 'multySelect', '')" class="fa fa-close"></i></span>									
						</div>
					</div>
					<div *ngIf="selection.city && selection.city.length>0" class="data_fields">
						<div class="listings_title">City</div>
						<div class="listings">						
								<span *ngFor="let city of selection.city" [class]="selection.citySelect=='is not'? 'faded' : ''"> <var *ngIf="selection.citySelect=='is not'">Not</var> {{city.text}}<i (click)="remove('city', city, 'multySelect', '')" class="fa fa-close"></i></span>									
						</div>
					</div>
					<div *ngIf="selection.zipcode" class="data_fields">
						<div class="listings_title">Zip</div>
						<div class="listings">						
								<span [class]="selection.zipSelect=='is not'? 'faded' : ''"> <var *ngIf="selection.zipSelect=='is not'">Not</var> {{selection.zipcode}}<i (click)="remove('zipcode', selection.zipcode, 'txtInput', '')" class="fa fa-close"></i></span>									
						</div>
					</div>
				</div>
				<!-- similar box end -->

				<!-- similar box start -->
				<div *ngIf="selection.land && selection.land.length>0" class="col-sm-12 similar_box">
					<div class="title">Characteristics</div>
					<div class="data_fields">
						<div class="listings_title">Land Use</div>
						<div class="listings">
							<span *ngFor="let land of selection.land" >{{land.text}}<i (click)="remove('land', land, 'multySelect', '')" class="fa fa-close"></i></span>
						</div>
					</div>
				</div>
				<!-- similar box end -->

				<!-- similar box start -->
				<div *ngIf="(selection.exemption && selection.exemption.length>0) || (selection.occupancy && selection.occupancy.length>0)" class="col-sm-12 similar_box">
					<div class="title">Owner</div>
					<div *ngIf="selection.exemption && selection.exemption.length>0" class="data_fields">
						<div class="listings_title">Exemption</div>
						<div class="listings">						
								<span *ngFor="let exemption of selection.exemption" > {{exemption.text}}<i (click)="remove('exemption', exemption, 'multySelect', '')" class="fa fa-close"></i></span>									
						</div>
					</div>
					<div *ngIf="selection.occupancy && selection.occupancy.length>0" class="data_fields">
						<div class="listings_title">Occupancy</div>
						<div class="listings">						
								<span *ngFor="let occupancy of selection.occupancy" > {{occupancy.text}}<i (click)="remove('occupancy', occupancy, 'multySelect', '')" class="fa fa-close"></i></span>									
						</div>
					</div>
				</div>
				<!-- similar box end -->
				<!-- {{selection.salesFrom.year}}/{{selection.salesFrom.month}}/{{selection.salesFrom.day}} - {{selection.salesTo.year}}/{{selection.salesTo.month}}/{{selection.salesTo.day}} -->
				<!-- similar box start -->
				<div *ngIf="selection.salesFrom" class="col-sm-12 similar_box">
					<div class="title">Sale Information</div>
					<div class="data_fields">
						<div class="listings_title">Last Sale Recording Date</div>
						<div class="listings">
							<span *ngIf="selection.salesFrom &&  selection.saleSelect!='is between'; else sec">{{selection.salesFrom.day}}-{{getMonthName(selection.salesFrom.month)}}-{{selection.salesFrom.year}}<i (click)="remove('salesFrom', selection.salesFrom, 'dateInput', '')" class="fa fa-close"></i></span>
							<ng-template #sec>
								<span *ngIf="selection.saleSelect!='is' && selection.salesTo && selection.salesFrom; else thrd">{{selection.salesFrom.day}}-{{getMonthName(selection.salesFrom.month)}}-{{selection.salesFrom.year}} to {{selection.salesTo.day}}-{{getMonthName(selection.salesTo.month)}}-{{selection.salesTo.year}}<i (click)="remove('salesTo', selection.salesTo, 'dateInput2', 'salesFrom')" class="fa fa-close"></i></span>
							</ng-template>
							<ng-template #thrd></ng-template>
						</div>
					</div>
				</div>

				<div *ngIf="selection.mortgageAmountFrom || selection.mortgageRecordingFrom || (selection.mortgageType && selection.mortgageType.length>0) || selection.mortgageInterestFrom || (selection.maxOpenLien && selection.maxOpenLien.length>0)" class="col-sm-12 similar_box">
					<div class="title">Open Lien Information</div>
					<div class="data_fields"  *ngIf="selection.mortgageAmountFrom">
						<div class="listings_title">Mortgage Amount</div>
						<div class="listings">
							<span *ngIf="selection.mortgageAmountFrom &&  selection.mortgageAmountSelect!='is between'; else sec2">{{selection.mortgageAmountFrom}}<i (click)="remove('mortgageAmountFrom', selection.mortgageAmountFrom, 'txtInput', '')" class="fa fa-close"></i></span>
							<ng-template #sec2>
								<span *ngIf="selection.mortgageAmountSelect!='is' && selection.mortgageAmountTo && selection.mortgageAmountFrom; else thrd2">{{selection.mortgageAmountFrom}}-{{selection.mortgageAmountTo}}<i (click)="remove('mortgageAmountTo', selection.mortgageAmountTo, 'txtInput2', 'mortgageAmountFrom')" class="fa fa-close"></i></span>
							</ng-template>
							<ng-template #thrd2></ng-template>
						</div>
					</div>
					<div class="data_fields" *ngIf="selection.mortgageRecordingFrom">
						<div class="listings_title">Mortgage Recording Date</div>
						<div class="listings">
							<span *ngIf="selection.mortgageRecordingFrom &&  selection.mortgageRecordingDate!='is between'; else sec">{{selection.mortgageRecordingFrom.day}}-{{getMonthName(selection.mortgageRecordingFrom.month)}}-{{selection.mortgageRecordingFrom.year}}<i (click)="remove('mortgageRecordingFrom', selection.mortgageRecordingFrom, 'dateInput', '')" class="fa fa-close"></i></span>
							<ng-template #sec>
								<span *ngIf="selection.mortgageRecordingDate!='is' && selection.mortgageRecordingTo && selection.mortgageRecordingFrom; else thrd">{{selection.mortgageRecordingFrom.day}}-{{getMonthName(selection.mortgageRecordingFrom.month)}}-{{selection.mortgageRecordingFrom.year}} to {{selection.mortgageRecordingTo.day}}-{{getMonthName(selection.mortgageRecordingTo.month)}}-{{selection.mortgageRecordingTo.year}}<i (click)="remove('mortgageRecordingTo', selection.mortgageRecordingTo, 'dateInput2', 'mortgageRecordingFrom')" class="fa fa-close"></i></span>
							</ng-template>
							<ng-template #thrd></ng-template>
						</div>
					</div>
					<div *ngIf="selection.mortgageType && selection.mortgageType.length>0" class="data_fields">
						<div class="listings_title">Mortgage Type</div>
						<div class="listings">						
								<span *ngFor="let type of selection.mortgageType" > {{type.text}}<i (click)="remove('mortgageType', type, 'multySelect', '')" class="fa fa-close"></i></span>									
						</div>
					</div>
					<div class="data_fields"  *ngIf="selection.mortgageInterestFrom">
						<div class="listings_title">Interest Rate Between</div>
						<div class="listings">
							<span *ngIf="selection.mortgageInterestFrom &&  selection.mortgageInterestStatus!='is between'; else sec2">{{selection.mortgageInterestFrom}}<i (click)="remove('mortgageInterestFrom', selection.mortgageInterestFrom, 'txtInput', '')" class="fa fa-close"></i></span>
							<ng-template #sec2>
								<span *ngIf="selection.mortgageInterestStatus!='is' && selection.mortgageInterestTo && selection.mortgageInterestFrom; else thrd2">{{selection.mortgageInterestFrom}}-{{selection.mortgageInterestTo}}<i (click)="remove('mortgageInterestTo', selection.mortgageInterestTo, 'txtInput2', 'mortgageInterestFrom')" class="fa fa-close"></i></span>
							</ng-template>
							<ng-template #thrd2></ng-template>
						</div>
					</div>
					<div *ngIf="selection.maxOpenLien && selection.maxOpenLien.length>0" class="data_fields">
						<div class="listings_title">Max Open Lien</div>
						<div class="listings">						
								<span *ngFor="let lien of selection.maxOpenLien" > {{lien.text}}<i (click)="remove('maxOpenLien', lien, 'multySelect', '')" class="fa fa-close"></i></span>									
						</div>
					</div>
				</div>

				<div *ngIf="selection.equityFrom" class="col-sm-12 similar_box">
					<div class="title">Equity</div>
					<div class="data_fields">
						<div class="listings_title">Percentage</div>
						<div class="listings">
							<span *ngIf="selection.equityFrom &&  selection.equityStatus!='is between'; else sec2">{{selection.equityFrom}}<i (click)="remove('equityFrom', selection.equityFrom, 'txtInput', '')" class="fa fa-close"></i></span>
							<ng-template #sec2>
								<span *ngIf="selection.equityStatus!='is' && selection.equityTo && selection.equityFrom; else thrd2">{{selection.equityFrom}}-{{selection.equityTo}}<i (click)="remove('equityTo', selection.equityTo, 'txtInput2', 'equityFrom')" class="fa fa-close"></i></span>
							</ng-template>
							<ng-template #thrd2></ng-template>
						</div>
					</div>
				</div>

	
				<div *ngIf="(selection.listingStatus && selection.listingStatus.length>0) || selection.listingPriceFrom" class="col-sm-12 similar_box">
					<div class="title">Listing Information</div>
					<div class="data_fields" *ngIf="selection.listingStatus && selection.listingStatus.length>0">
						<div class="listings_title">Listing Status</div>
						<div class="listings">
							<span *ngFor="let status of selection.listingStatus" > {{status.text}}<i (click)="remove('listingStatus', status, 'multySelect', '')" class="fa fa-close"></i></span>							
						</div>
					</div>					
					<div class="data_fields" *ngIf="selection.listingPriceFrom"> 
						<div class="listings_title">Listing Price</div>
						<div class="listings">
							<span *ngIf="selection.listingPriceFrom &&  selection.listingPriceStatus!='is between'; else sec2">{{selection.listingPriceFrom}}<i (click)="remove('listingPriceFrom', selection.listingPriceFrom, 'txtInput', '')" class="fa fa-close"></i></span>
							<ng-template #sec2>
								<span *ngIf="selection.listingPriceStatus!='is' && selection.listingPriceTo && selection.listingPriceFrom; else thrd2">{{selection.listingPriceFrom}}-{{selection.listingPriceTo}}<i (click)="remove('listingPriceTo', selection.listingPriceTo, 'txtInput2', 'listingPriceFrom')" class="fa fa-close"></i></span>
							</ng-template>
							<ng-template #thrd2></ng-template>
						</div>
					</div>
				</div>

				<div *ngIf="selection.forclosureStatus || selection.forclosureDateFrom || selection.forclosureAmountFrom" class="col-sm-12 similar_box">
					<div class="title">Foreclosure Information</div>
					<div *ngIf="selection.forclosureStatus" class="data_fields">
						<div class="listings_title">Status</div>
						<div class="listings">
							<span>{{selection.forclosureStatus.text}}<i (click)="remove('forclosureStatus', selection.forclosureStatus, 'singleSelect', '')" class="fa fa-close"></i></span>
						</div>
					</div>	
					<div class="data_fields" *ngIf="selection.forclosureDateFrom">
						<div class="listings_title">Foreclosure Event Date</div>
						<div class="listings">
							<span *ngIf="selection.forclosureDateFrom &&  selection.forclosureDateStatus!='is between'; else sec">{{selection.forclosureDateFrom.day}}-{{getMonthName(selection.forclosureDateFrom.month)}}-{{selection.forclosureDateFrom.year}}<i (click)="remove('forclosureDateFrom', selection.forclosureDateFrom, 'dateInput', '')" class="fa fa-close"></i></span>
							<ng-template #sec>
								<span *ngIf="selection.forclosureDateStatus!='is' && selection.forclosureDateTo && selection.forclosureDateFrom; else thrd">{{selection.forclosureDateFrom.day}}-{{getMonthName(selection.forclosureDateFrom.month)}}-{{selection.forclosureDateFrom.year}} to {{selection.forclosureDateTo.day}}-{{getMonthName(selection.forclosureDateTo.month)}}-{{selection.forclosureDateTo.year}}<i (click)="remove('forclosureDateTo', selection.forclosureDateTo, 'dateInput2', 'forclosureDateFrom')" class="fa fa-close"></i></span>
							</ng-template>
							<ng-template #thrd></ng-template>
						</div>
					</div>
					<div class="data_fields" *ngIf="selection.forclosureAmountFrom"> 
						<div class="listings_title">Foreclosure Amount</div>
						<div class="listings">
							<span *ngIf="selection.forclosureAmountFrom &&  selection.forclosureAmountStatus!='is between'; else sec2">{{selection.forclosureAmountFrom}}<i (click)="remove('forclosureAmountFrom', selection.forclosureAmountFrom, 'txtInput', '')" class="fa fa-close"></i></span>
							<ng-template #sec2>
								<span *ngIf="selection.forclosureAmountStatus!='is' && selection.forclosureAmountTo && selection.forclosureAmountFrom; else thrd2">{{selection.forclosureAmountFrom}}-{{selection.forclosureAmountTo}}<i (click)="remove('forclosureAmountTo', selection.forclosureAmountTo, 'txtInput2', 'forclosureAmountFrom')" class="fa fa-close"></i></span>
							</ng-template>
							<ng-template #thrd2></ng-template>
						</div>
					</div>
				</div>				
				<!-- similar box end -->
			</div>
			<!-- right_side end-->

		</div>
	</div>
	
	<app-common-overlay *ngIf="load!=1"></app-common-overlay>
</section>
<!-- Main Area End-->
<!-- Creates the bootstrap modal to save search form -->
<!-- <ng-template #saveSearchModal let-modal>	
	<div class="modal-header">
	  <h4 class="modal-title" id="saveModalLabel">Save Search</h4>
	  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<form [formGroup]="saveSearchForm">
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-12">
			   <div class="form-group">
				   <label>Search Name: </label>
				   <input type="text" formControlName="savedTitle" class="form-control" />				  
				</div>
		   </div>
		   <div class="col-sm-12">
			   <div class="form-group">
				   <label>Purchase Group Name: </label>
				   <input type="text" formControlName="purchaseGroupName" class="form-control" />
				  
				</div>
		   </div>
	   </div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary "[disabled]="!saveSearchForm.valid" (click)="modal.close('Submit')">Submit</button> <button type="button" class="btn btn-dark" (click)="modal.close('Cancel')">Cancel</button>
	</div>
	</form>
  </ng-template> -->

  <div class="modal" id="myConfirmModal">
    <div class="modal-dialog modal-md">
      <div class="modal-content ">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" [innerHTML]="modalTitle">Confirmation</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
		<!-- Modal body -->
		<div *ngIf="!existingMember" class="modal-body"><p [innerHTML]="confirmBoxContent">{{confirmBoxContent}}</p> </div>
        <div *ngIf="existingMember" class="modal-body">
			<div>
			<form [formGroup]="saveSearchForm" (ngSubmit)="submitSearchForm()"> 
				<div class="row">
					<div class="col-sm-6">
					   <div class="form-group">
						   <label>Search Name: </label>
						   <input type="text" formControlName="savedTitle" class="form-control" />	
						   <ng-container *ngIf="saveSearchForm.get('savedTitle').errors && (saveSearchForm.get('savedTitle').dirty || saveSearchForm.get('savedTitle').touched)">
							<small *ngIf="saveSearchForm.get('savedTitle').errors.maxlength" class="error-text">Search Name should be maximum 25 characters.</small>
						   </ng-container>					   				  
						</div>
				   </div>
				   <div class="col-sm-6">
					   <div class="form-group">
						   <label>Purchase Group Name: </label>
						   <input type="text" formControlName="purchaseGroupName" class="form-control" />
						   <ng-container *ngIf="saveSearchForm.get('purchaseGroupName').errors && (saveSearchForm.get('purchaseGroupName').dirty || saveSearchForm.get('purchaseGroupName').touched)">
							<small *ngIf="saveSearchForm.get('purchaseGroupName').errors.pattern" class="error-text">Purchase Group Name is not valid.</small>
							<small *ngIf="saveSearchForm.get('purchaseGroupName').errors.maxlength" class="error-text">Purchase Group Name should be maximum 25 characters.</small>
						   </ng-container>
						</div>
				   </div>
			   </div>
			   <!-- <div class="row">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-success" [disabled]="!saveSearchForm.valid">Save Search</button>
				</div>
				</div> -->
			</form>
			</div>
		   <!-- <div class="modalBox">
		   <p>{{confirmBoxContent}}</p> 
		    <div *ngIf="existingMember && reqAmountInWalletToPur"> <table class="display responsive nowrap table-striped" width="100%">
			<thead>
				<tr>
					<th>Amount</th>
					<th>Points</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let amt of confirmBoxTblAmt" [ngClass]="{'active' : confirmBoxReqAmt==amt}">
					<td>${{amt}}</td>
					<td>{{pointsPerDollar*amt}}</td>
					<td><button (click)="onModal(amt)" data-toggle="modal" data-target="#myModal" class="btn btn-success">Add Credit</button></td>
				</tr>
				<tr>
					<td><i class="fa fa-dollar prefix"></i><input type="number" name="confirmBoxReqAmt" [(ngModel)]="confirmBoxReqAmt" class="form-control"></td>
					<td>{{pointsPerDollar*confirmBoxReqAmt}}</td>
					<td><button (click)="onModal(confirmBoxReqAmt)" data-toggle="modal" data-target="#myModal" class="btn btn-success">Add Credit</button></td>
				</tr>			
			</tbody>
		</table></div>
		<div class="text-center">			
			<button *ngIf="existingMember && !reqAmountInWalletToPur" class="btn btn-primary" (click)="getDeductionToPur()" data-dismiss="modal">Ok</button>
			<button *ngIf="existingMember && reqAmountInWalletToPur" (click)="onModal(confirmBoxReqAmt)" data-toggle="modal" data-target="#myModal" class="btn btn-success">Add Credit</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>
		</div> -->
        </div>
  
		<!-- Modal footer -->
		<div *ngIf="existingMember" class="modal-footer text-center">
			<button *ngIf="!reqAmountInWalletToPur" class="btn btn-primary" (click)="getDeductionToPur()">Ok</button>
			<button *ngIf="reqAmountInWalletToPur" (click)="onModal(confirmBoxReqAmt)" class="btn btn-success">Purchase Records</button>
			<!-- <button *ngIf="reqAmountInWalletToPur" (click)="onModal(confirmBoxReqAmt)" data-toggle="modal" data-target="#myModal" class="btn btn-success">Purchase Records</button> -->
			<!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button> -->
        </div>
        <div *ngIf="!existingMember" class="modal-footer text-center">
			<a routerLink="/membership/payment" data-dismiss="modal"><button class="btn btn-primary">Ok</button></a>			
			<!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button> -->
        </div>
  
      </div>
    </div>
</div> 
<div class="modal" id="myModal">
    <div class="modal-dialog modal-md">
      <div class="modal-content ">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Purchase Records</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
		<form [formGroup]="depositeForm" (ngSubmit)="deposite()">
        <!-- Modal body -->
        <div class="modal-body"> 
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label>Total Records</label>
						<p><b>{{SearchCount.count | number}}</b></p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label>Total Amount</label>
						<p><b>{{SearchCount.amountReq() | currency}}</b></p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="w-100"><div class="d-flex justify-content-between">Wallet Amount</div></label>
						<p><b>{{currentBalance | currency}}</b></p>
					</div>
				</div>
				<div class="text-center mt-3">
					<img class="walletimage" src="assets/images/wallet.svg" width="100">
					<p class="h5 mt-3">Ooops! Please recharge your Wallet with  {{minAmount() | currency}} to purchase the records.</p>
				</div>          
				<div class="col-sm-12">
					<div class="form-group">
						<label for="amount">Amount</label>
						<input type="text" class="form-control" data-inputmask="'alias': 'currency'" formControlName="amount"  name="amount" id="amount">
						<ng-container *ngIf="submitWallet && depositeForm.get('amount').errors">
							<small *ngIf="depositeForm.get('amount').errors.required" class="error-text">Amount is required.</small>      
							<small *ngIf="depositeForm.get('amount').errors.min" class="error-text"> Minimum amount should be {{minAmount() | currency}}.</small>
						</ng-container>
					</div>
				</div>
			</div>         
        </div>  
        <!-- Modal footer -->
        <div class="modal-footer">
			<button type="submit" class="btn btn btn-danger submit-button">Recharge Now</button>
        </div>
		</form>
      </div>
    </div>
</div> 


<ng-template #content2 let-modal>
	<div class="modal-header">
	  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
		<div class="row successful_payment">
            <div class="text-center"><img class="walletimage" src="assets/images/wallet.svg"></div>
            <h3>We are deducting {{ SearchCount.amountReq() | currency }} from your wallet to purchase these records.</h3>
			<button class="btn btn-success yesi" (click)="modal.close('Close click')" type="button">OK</button>
		</div>
	</div>
  </ng-template>