
		<!-- header start -->
		<header class="header_area">
			<div class="col-sm-6 l_head">
				<div class="toggle" (click)="sidebar()"><i class="fa fa-bars"></i></div>
				<!-- <div class="headline"><h2>Account Dashboard</h2></div> -->
			</div>
			<div class="col-sm-6 r_head">
			<!-- <div class="refer" (click)="refer()"><img src="assets/images/affiliate.svg"></div> -->
			<div #syncElement *ngIf="load==1" class="sync">
				<span><img (click)="sync()" src="assets/images/synchronize.svg"></span>
				<div class="syncdropdown" *ngIf="syncDrop">
					<div [class.centerRipple]="!loadedSync" *ngIf="!loadedSync;else listing">
						<div class="lds-ripple" ><div></div><div></div></div>
					</div>
					<ng-template #listing>
						<div class="quetitle">{{runningQueue}} Items in Queue</div>
						<ul class="quuelist">
							<li *ngFor="let item of batchProgress.full_progress_detail;">
								<div class="dlfex">
									<div class="adr">{{item.purchase_group_name}}  {{ item?.type === 'email' ? 'Email' : 'Phone' }} Records</div>
									<div class="barare" *ngIf="item.success_percentage == 100; else progress">
										<button (click)="viewRecord(item.batch_id, item?.type)" class="btn btn-dark phonecontinue">View</button>
									</div>
									<ng-template #progress>
										<label>{{item.success_percentage}}%</label>
										<div class="progress">
											<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" [style.width.%]="item.success_percentage"></div>
										</div>
									</ng-template>
								</div>
							</li>
							<!-- <li *ngFor="let item of batchProgress.phone_progress;">
								<div class="dlfex">
									<div class="adr">Fetching Phone Records</div>
									<div class="barare" *ngIf="item.success_percentage == 100;else progress2">
										<button (click)="viewRecord(item.batch_id,'phone')" class="btn btn-dark phonecontinue">View</button>
									</div>
									<ng-template #progress2>
										<label>{{item.success_percentage}}%</label>
										<div class="progress">
											<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" [style.width.%]="item.success_percentage"></div>
										</div>
									</ng-template>
								</div>
							</li> -->
						</ul>
					</ng-template>
				</div>
			</div>
				<!-- <div class="notification">
					<i class="fa fa-bell"></i>
					<span>13</span>
					<div class="notify">
						<p class="mb-2">Demo notification</p>
						<p class="mb-2">Demo notification</p>
						<p>Demo notification</p>
					</div>
				</div>

				<div class="notification message">
					<i class="fa fa-envelope"></i>
					<span>2</span>
				</div> -->

				<div class="expand" (click)="toggleFullScreen()"><i class="fa fa-arrows-alt"></i></div>

				<div class="user">
					<span><img [src]="url"><i class="fa fa-caret-down"></i></span>
					<div class="user_detail">
						<ul>
							<li><a (click)="handleClick('profile')">My Profile</a></li>
							<li><a (click)="logout()">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="search_popup" id="info">
						<div class="search_data">
							<input type="text" class="form-control" placeholder="Type Here">
							<input type="submit" value="Search" class="btn btn-success">
						</div>
					</div>
		</header>	
		<!-- header end -->
		<div *ngIf="maintainance && maintainance.status==='1'" class="alert alert-danger alert-dismissible maintance-banner text-center">
			<strong>{{maintainance && maintainance.maintenance_banner_title}}</strong>
			<h5>{{maintainance && maintainance.maintenance_banner_content}}</h5>
		</div>
		
		<ng-template #content let-c="close" let-d="dismiss">
			<div class="modal-header">
			  <h4 class="modal-title" id="modal-basic-title">{{ viewType }} Records</h4>
			  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
				<div class="text-center text-danger">
					<p class="h5">{{ viewType }} records of  {{ viewDataRecords ? viewDataRecords.length : 0 }} entries out of {{ viewDataRecordsEntries }} has been found!</p>
				</div>

				<div class="right_buttons2 justify-content-center d-flex m-4">
					<button class="btn btn-primary mr-2" (click)="exportexcel()"><i class="fa fa-file-excel-o mr-2"></i> <span>Export to Excel</span></button>
					<button (click)="startMarketing()" class="btn btn-success"><i class="fa fa-bullhorn mr-2"></i> <span>Start Marketing</span></button>
				</div>

				<div class="col-sm-12 top_selling">
					<table datatable [dtOptions]="dtOptions" class="row-border hover" id="bpview_tables"></table>
				</div>
				
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
			</div>
		</ng-template>
		  
