.user_detail{
    a{
        cursor: pointer;
    }
}
.header_area {
    height: 80px;
    border-bottom: 1px solid #f3f3f3;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 260px;
    top: 0;
    z-index: 999;
    right: 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
     transition: 0.2s;
    -webkit-transition: 0.2s;
}
.header_area .l_head .toggle {
    background: -webkit-linear-gradient(#fff, #e6e6e6);
    background: -moz-linear-gradient(#fff, #e6e6e6);
    background: linear-gradient(#fff, #e6e6e6);
    min-width: 45px;
    height: 45px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-right: 15px;
}
.header_area .r_head {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center;
}
.header_area .r_head > div{
    margin-left: 20px;
}
.header_area .r_head .user span {
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    cursor: pointer;
}
.header_area .r_head .user span img {
    max-width: 44px;
    height: 44px;
    object-fit: cover;
    width: 44px;
    margin-right: 8px;
    border-radius: 100px;
}
.header_area .r_head .user span i{
    font-size: 20px;
    opacity: 0.5;
}
.header_area .r_head .expand {
    font-size: 18px;
    color: #909294;
    cursor: pointer;
}
.header_area .r_head .notification {
    position: relative;
    font-size: 18px;
    color: #909294;
    cursor: pointer;
}
.header_area .r_head .search{
    color: #909294;
    font-size: 18px;
    cursor: pointer;
}
.header_area .r_head .notification span {
    position: absolute;
    background: #39c65a;
    color: #fff;
    font-size: 14px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    right: -9px;
    top: -10px;
    text-align: center;
    line-height: 20px;
}
.header_area .l_head {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.header_area .l_head .headline {
    font-size: 20px;
    font-weight: 600;
    color: #232e42;
}
.header_area .r_head .search i {
    font-size: 19px; 
}
.header_area .r_head .notification.message span {
    background: #207bff;
}
ol, ul {
    list-style: none;
    margin-bottom: 0px;
}
.user .user_detail {
    position: absolute;
    right: 15px;
    width: 200px;
    margin-top: 17px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.notification .notify {
    position: absolute;
    right: -20px;
    width: 230px;
    margin-top: 30px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}
.user .user_detail li a {
    display: block;
    padding: 6px;
    color: #909294;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
.maintance-banner{
    top: 80px;
    left: 260px;
    width: calc(100% - 260px);
}
.sync {
    width: 40px;
    height: 40px;
    background: #C8E9FF;
    border-radius: 50%;
    padding: 6px;
    position: relative;
    cursor: pointer;
}
.syncdropdown {
    width: 489px;
    height: auto;
    background: #fff;
    position: absolute;
    right: 0;
    margin-top: 22px;
    box-shadow: 0 0 12px 3px rgba(0,0,0,0.2);
    .adr {
        font-size: 14px;
        color: #606060;
    }
    .dlfex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        -webkit-align-items: center;
        .progress {
            width: 110px;
            height: 10px;
            border-radius: 0px;
        }
    }
    .barare label {
        font-size: 12px;
        color: #606060;
        margin-bottom: 0px;
        text-transform: capitalize;
    }
    .lds-ripple {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-ripple div {
        position: absolute;
        border: 4px solid #207bff;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }
      .lds-ripple div:nth-child(2) {
        animation-delay: -0.5s;
      }
      @keyframes lds-ripple {
        0% {
          top: 36px;
          left: 36px;
          width: 0;
          height: 0;
          opacity: 1;
        }
        100% {
          top: 0px;
          left: 0px;
          width: 72px;
          height: 72px;
          opacity: 0;
        }
      }
      

}
.syncdropdown .quetitle{
    background: #00CC57;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    padding: 10px;
}
.syncdropdown ul.quuelist {
    margin: 0px;
    padding: 15px;
}
.syncdropdown ul.quuelist li {
    display: block;
    border-bottom: #ccc solid 1px;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
.syncDrop{
    display: none;
}
.centerRipple{
    justify-content: center;
    display: flex;
}
.refer{
    width: 40px;
    height: 40px;
    background: #8CE4BF;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
}


@media all and (max-width:1023px){
    .maintance-banner{
        left: 0;
        width: 100%;
    }
}