
<div class="overlayall">
    <div class="b_member">
          <i class="fa fa-lock"></i>
        <h2>{{modalTitle}}</h2>
        <p>{{modalContent}}</p>
        <button [routerLink]="'/membership/payment'" class="btn btn-primary">Become Memeber</button>
    </div>
</div>